<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venus.modules.mapper.MsgMailMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.venus.modules.entity.MsgMail">
        <id column="id" property="id" />
        <result column="temp_id" property="tempId" />
        <result column="recipient" property="recipient" />
        <result column="subject" property="subject" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="creator_name" property="creatorName" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, temp_id, recipient, subject, content, status, creator_name, creator, create_date
    </sql>

</mapper>
